*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    /* padding-top: 3rem; */
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}
.App{
    margin: 5rem 15rem;
    box-shadow: 0 5px 13px rgba(78, 75, 75, 0.3);
    background-color: hsl(240, 78%, 98%);
    background-image: url('./images/bg-top.svg');
    background-position:30rem;
    background-repeat: no-repeat;
    padding-bottom: 4rem;
    padding-top: 2rem;
}
.priceHeader{
    margin-bottom: 20px
}
.priceDiv{
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;

}
.types p{
    display: inline-block;
}
.price{
padding: 4rem auto;
box-shadow: 0 5px 13px rgba(78, 75, 75, 0.3);

/* border: 1px solid; */
/* margin-top: 2rem; */
}
.title{
    font-size: 12px;
    opacity: 20;
}
#basicMaster{
 background-color:hsl(240, 78%, 98%) ;
 /* height: 21rem; */

}
#basicMaster p{
    color: grey;
    margin: 1rem 2.4rem;
}
#professional{
    height: 21rem;
    background-color: hsl(237, 63%, 64%);
    color: white;
    /* margin:-15px 0; */
}
#professional p{
    margin: 1rem 2.4rem;
}
hr{
    margin: auto 10px;
    opacity: 0.3;
}
.price button{
    margin: 20px 0 ;
        -webkit-border-radius: 5;
        -moz-border-radius: 5;
        border-radius: 5px;
        /* font-family: Georgia; */
        color: #ffffff;
        font-size: 13px;
        background: hsl(237, 63%, 64%);
        padding: 6px 25px 6px 25px;
        text-decoration: none; 
        cursor: pointer; 
        border: 0;   
    
}

#basicMasterBTN:hover {
    background: #ffffff;
    text-decoration: none;
    color: hsl(237, 63%, 64%);
  }
  #professionalBTN{
 background-color:hsl(240, 78%, 98%) ;
 color: hsl(237, 63%, 64%);
  }
  #professionalBTN:hover {
    color: #ffffff;
    text-decoration: none;
    background-color: hsl(237, 63%, 64%);
  }
  h1{
    padding-bottom: 20px;
  }