*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    /* padding-top: 3rem; */
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}
.App{
    margin: 5rem 10vmax;
    box-shadow: 0 5px 13px rgba(78, 75, 75, 0.3);
    background-color: hsl(240, 78%, 98%);
    background-image: url('./images/bg-bottom.svg'), url('./images/bg-top.svg');
    background-repeat: no-repeat;
    padding-bottom: 4rem;
    padding-top: 2rem;
    background-position: left bottom, right top;
    background-size: 12rem auto;
}
.priceHeader{
    margin-bottom: 20px
}
.priceDiv{
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;

}
.types p{
    display: inline-block;
}
.price{
width: 224px;
height: 368px;
box-shadow: 0 5px 13px rgba(78, 75, 75, 0.3);
}
.title{
    font-size: 12px;
    opacity: 20;
}
#basicMaster{
 background-color:hsl(240, 78%, 98%) ;
 /* height: 21rem; */
 margin-top: 2rem;

}
.titlePara{
    color: grey;
    margin: .6rem 0;
    padding-top: 32px;
}
.innerPara{
    color: grey;
    margin: 1rem 0;
}
#professional{
    height: 26rem;
    background-color: hsl(237, 63%, 64%);
    color: white;
    border-radius: 8px;
    margin-top: 1rem;


}
.profTitlePara{
    padding-top: 35px;

}
#professional p{
    margin: 1rem 0;
}
hr{
    margin: auto 10px;
    opacity: 0.3;
}
.price button{
    margin: 30px 0  50px;
        -webkit-border-radius: 5;
        -moz-border-radius: 5;
        border-radius: 5px;
        color: #ffffff;
        font-size: 13px;
        background: hsl(237, 63%, 64%);
        padding: 6px 25px 6px 25px;
        text-decoration: none; 
        cursor: pointer; 
        border: 0;   
    
}

#basicMasterBTN:hover {
    background: #ffffff;
    text-decoration: none;
    color: hsl(237, 63%, 64%);
  }
  #professionalBTN{
 background-color:hsl(240, 78%, 98%) ;
 color: hsl(237, 63%, 64%);
  }
  #professionalBTN:hover {
    color: #ffffff;
    text-decoration: none;
    background-color: hsl(237, 63%, 64%);
  }
  h1{
    padding-bottom: 20px;
  }